.about-container {
  display: flex;
  flex-direction: column;
  
  height: 1300px;

}

.about-start-text {
  margin-top: 30px;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  color: black;
  
}

.flex-1 {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.about-image-container { 
  flex: 1;
}

.about-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: 30px;
}

.about-text-container {
  flex: 2;
}

.about-text {
  padding-right: 50px;
  margin-bottom: 100px;
  margin-right: 30px;
  color: black;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 21px;
  text-align: center;
  text-justify: inter-word;
}

.qualities {
  padding-top: 40px;
  margin-top: 70px;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

.flex-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.problem-solving-container, .analytical-thinking-container, .passion-container, .effective-communication-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 100%;
}

.problem-solving-image, .analytical-thinking-image, .passion-image, .communication-image {
  margin-top: 30px;
  width: 64px;
  height: 64px;
}

.problem-solving-text, .analytical-thinking-text, .passion-text, .effective-communication-text {
  font-family: Raleway, Arial;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: black;

}

.problem-solving-explanation, .analytical-thinking-explanation, .passion-explanation, .communication-explanation {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-align: center;
}



@media only screen and (max-width: 1200px) {
  .about-start-text {
    font-size: 40px;
  }

  .about-text {
    font-size: 18px;
   
  }

  .qualities {
    font-size: 30px;
  }

  .problem-solving-text,
  .analytical-thinking-text,
  .passion-text,
  .effective-communication-text {
    font-size: 18px;
  }

  .problem-solving-explanation,
  .analytical-thinking-explanation,
  .passion-explanation,
  .communication-explanation {
    font-size: 16px;
  }
}

/* Responsive styles for screens between 768px and 991px */
@media only screen and (max-width: 991px) {
  .about-start-text {
    font-size: 30px;
  }

  .about-text {
    font-size: 16px;
    
  }

  .qualities {
    font-size: 25px;
  }

  .problem-solving-text,
  .analytical-thinking-text,
  .passion-text,
  .effective-communication-text {
    font-size: 16px;
    
  }

  .problem-solving-explanation,
  .analytical-thinking-explanation,
  .passion-explanation,
  .communication-explanation {
    font-size: 14px;
  }
}

/* Responsive styles for screens below 768px (small screens) */
@media only screen and (max-width: 768px) {
  .about-start-text {
    font-size: 25px;
  }

  .about-text {
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .qualities {
    font-size: 20px;
    margin-top: 40px;
  }

  .flex-1 {
    flex-direction: row;
    text-align: center;
  }

  .problem-solving-text,
  .analytical-thinking-text,
  .passion-text,
  .effective-communication-text {
    font-size: 14px;
  }

  .problem-solving-explanation,
  .analytical-thinking-explanation,
  .passion-explanation,
  .communication-explanation {
    font-size: 12px;
  }
}

/* Additional responsive styles for screens below 600px */
@media only screen and (max-width: 600px) {
 
  .about-container {
    height: 2000px;
    justify-content: space-between;
  }

  .about-start-text {
    font-size: 30px;
  }

  .about-container {
    height: auto;
  }

  .flex-1 {
    flex-direction: column;
    margin-bottom: 20px;
  } 

  .about-image {
    height: 300px;
    width: 100%;
    object-fit: contain;
    margin-top: 30px;
  }

  .about-text-container {
    padding-left: 50px;
    
  }

  .about-image-container {
    padding-left: 10px;
    padding-bottom: -50px;
  }

  .about-text {
    font-size: 15px;
    
    padding-left: -10px;
    background-color: red;
  }

  .flex-2 {
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .qualities {
    font-size: 20px;
    margin-top: 400px;
  }

  .problem-solving-container {
    margin-top: -50px;
  }

  .problem-solving-text,
  .analytical-thinking-text,
  .passion-text,
  .effective-communication-text {
    background-color: red;
    font-size: 20px;
  }

  .problem-solving-explanation,
  .analytical-thinking-explanation,
  .passion-explanation,
  .communication-explanation {
    font-size: 17px;
    margin-bottom: 20px;
  }
}

/* for screens under 400px */

@media only screen and (max-width: 400px) {

  
  .about-container {
    height: 2000px;
    justify-content: space-between;
  }

  .about-start-text {
    font-size: 30px;
  }

  .about-container {
    height: auto;
  }

  .flex-1 {
    flex-direction: column;
    margin-bottom: 20px;
  } 

  .about-image {
    height: 300px;
    width: 100%;
    object-fit: contain;
    margin-top: 30px;
  }

  .about-text-container {
    padding-left: 50px;
    
  }

  .about-image-container {
    padding-left: 10px;
    padding-bottom: -50px;
  }

  .about-text {
    font-size: 15px;
    
    padding-left: -10px;
    background-color: green;
  }

  .flex-2 {
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .qualities {
    font-size: 20px;
    margin-top: 500px;
  }

  .problem-solving-container {
    margin-top: -50px;
  }

  .problem-solving-text,
  .analytical-thinking-text,
  .passion-text,
  .effective-communication-text {
    background-color: green;
    font-size: 20px;
  }

  .problem-solving-explanation,
  .analytical-thinking-explanation,
  .passion-explanation,
  .communication-explanation {
    font-size: 17px;
    margin-bottom: 20px;
  }

}



