a:link { 
  text-decoration: none;
  color: black;       
} 


a:visited { 
  text-decoration: none;
  color: black; 
}


a:hover { 
  text-decoration: none; 
  color: black; 
}


a:active { 
  text-decoration: none; 
  color: black; 
} 

*{
 /* padding: 0;
  margin: 0;*/
  box-sizing: border-box; 
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
}

.nav-menu li{
  list-style: none;
}


.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
} 

.nav-branding{
  transition: 0.2s ease;
  font-size: 1.5rem;
  font-family: Raleway, Arial;
  font-weight: 500;
}

.nav-link{
  transition: 0.2s ease;
  font-size: 1.2rem;
  font-family: Raleway, Arial;
  font-weight: 500;
}

.nav-link:hover, .nav-branding:hover {
  color: red;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

body{
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 100%; /*100%*/
  margin: 0 auto;
  padding: 0px;
  overflow-x: hidden;
}


.home{
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(../website-header-icons/starting-image.png);
  background-size: cover;
  background-position: center right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}


.home-text {
  padding-left: 120px;
}

.home-text-1 {
  margin-bottom: 50px;
  font-family: Bitter, Arial;
  font-weight: 500;
  font-size: 60px;
  color: white;
}

.home-text-2 {
  font-family: Bitter, Arial;
  font-weight: 500;
  font-size: 35px;
  padding-right: 14px;
  color: white;
} 

.journey-button {

  margin-top: 20px;

  border: none;
  border-radius: 2px;

  padding: 20px;

  font-family: Raleway, Arial;
  font-weight: 400;
  font-size: 20px;

  color: rgb(47, 47, 47);
  background-color: rgb(221, 221, 221);

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

  transition: background-color 0.15s;
}

.journey-text{
  color: black;
}

.journey-button:hover {
  color: rgb(23, 23, 23);
  background-color: rgb(157, 157, 157);
}

@media only screen and (max-width: 1200px){

  .home-text-1 {
    font-size: 50px;  
  }
  
  .home-text-2 {
    font-size: 26px;
  } 
  
  .journey-button {
    font-size: 17px;
  } 
  

} 

@media only screen and (max-width: 992px){

  .home-text-1 {
    font-size: 42px;  
  }
  
  .home-text-2 {
    font-size: 22px;
  } 
  
  .journey-button {
    font-size: 14px;
  } 
  .home-text {
    padding-left: 50px;
  }  
  
  .nav-branding{
    font-size: 1.3rem;
  }
  
  .nav-link{
    font-size: 1.1rem;
  }
  
} 


@media only screen and (max-width: 768px){ 

  .home-text-1 {
    font-size: 32px;  
  }
  
  .home-text-2 {
    font-size: 18px;
  } 
  
  .journey-button {
    font-size: 12px;
  } 
  .home-text {
    padding-left: 30px; 
  }  

  .hamburger{
    display: block;

  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  } 
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  } 
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    z-index: 100000;
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-link:visited {
    color: white;
  }

  .nav-link:hover{
    color: red;
  }

  .nav-item {
    margin: 16px 0;
  } 

  .nav-menu.active {
    left: 0;
  } 
  
  .nav-link{
    font-size: 1.2rem;
  }
  
  
}

@media only screen and (max-width: 600px){

  .home {
    background-position-x: 90%;
  } 
  .home-text {
    padding-top: 200px;
  }

  .nav-branding{
    font-size: 1.2rem;
  }
  
  
} 

@media only screen and (max-width: 300px){

  .home-text-1 {
    font-size: 25px;  
  }
  
  .home-text-2 {
    font-size: 15px;
  } 
  
  .journey-button {
    font-size: 11px;
  } 
  .home-text {
    padding-left: 15px;
  }  

  .nav-branding{
    font-size: 1.0rem;
  } 

  /*
  .logo {
    font-size: 0.9rem;
    margin-left: 0px;
    margin-right: 0px;
    transition: all ease .20s;
    padding: 0px;
  } 

  .logo-container {
    padding: 0px;
  }

  .burger-menu-icon {
    display: block;
    width: 20px;
    margin: 0 auto;
    padding: 0;
  } */

 
  
  
}






/*
.starting-image-container {
  position: relative;
  background-position: center right;
  background-size: cover;
}

.starting-image-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110px;
  left: 50px;
  height: 100%;
  width: 830px;
}

.starting-image {
  margin: 0;
  padding: 0;
  margin-top: -7px;
  object-fit: cover;
  width: 100%;
  height: 689px; /*689
}



.text-1-container {
  order: 1;
}

.text-2-container {
  order: 2;
}

.starting-button-container {
  order: 3;
}
.starting-image-text-1 {
  margin-bottom: 20px;
  font-family: Bitter, Arial;
  font-weight: 500;
  font-size: 60px;
  color: white;
}

.starting-image-text-2 {
  margin-bottom: 10px;
  font-family: Bitter, Arial;
  font-weight: 500;
  font-size: 30px;
  padding-right: 14px;
  color: white;
}

.journey-button {
  border: none;
  border-radius: 2px;

  padding: 20px;

  font-family: Raleway, Arial;
  font-weight: 400;
  font-size: 15px;

  color: rgb(47, 47, 47);
  background-color: rgb(221, 221, 221);

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

  transition: background-color 0.15s;
}

.journey-button:hover {
  color: rgb(23, 23, 23);
  background-color: rgb(157, 157, 157);
}

@media only screen and (max-width: 1200px) {

  .starting-image-text {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 100%; 
  } 

  .starting-image {
    
    max-width: 100%;
    height: auto;
  } 

  .starting-image-text-1 {
    font-size: 52px;
  }
  
  .starting-image-text-2 {
    margin-right: 30px;
    font-size: 30px;
  } 

  .journey-button {
    padding: 10px;
    font-size: 18px;
  }

}  


@media only screen and (max-width: 992px) {

  .starting-image-text {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 100%; 
  
  } 

  .starting-image {
    
    max-width: 100%;
    height: auto;
  } 

  .starting-image-text-1 {
    font-size: 48px;
  }
  
  .starting-image-text-2 {
    font-size: 22px;
    padding-right: 14px;
  } 

  .journey-button {
    padding: 10px;
    font-size: 16px;
  }

} 


@media only screen and (max-width: 768px) {

  .starting-image-text {
    position: absolute;
    top: 30px;
    left: 14px;
    width: 100%; 
  } 

  .starting-image {
    
    max-width: 100%;
    height: auto;
  } 

  .starting-image-text-1 {
    font-size: 35px;
  }
  
  .starting-image-text-2 {
    font-size: 17px;
    padding-right: 12px;
  } 

  .journey-button {
    padding: 10px;
    font-size: 14px;
  }

} 


@media only screen and (max-width: 600px) {

  .starting-image-text {
    position: absolute;
    top: 45px;
    left: 14px;
    width: 100%; 
  } 

  .starting-image {
    
    max-width: 100%;
    height: auto;
  } 

  .starting-image-text-1 {
    font-size: 22px;
  }
  
  .starting-image-text-2 {
    font-size: 14px;
    padding-right: 12px;
  } 

  .journey-button {
    padding: 10px;
    font-size: 12px;
  }

} 

@media only screen and (max-width: 600px) {

  .starting-image-text {
    position: absolute;
    top: 35px;
    left: 14px;
    width: 100%; 
  } 

  .starting-image {
    
    max-width: 100%;
    height: auto;
  } 

  .starting-image-text-1 {
    font-size: 22px;
  }
  
  .starting-image-text-2 {
    font-size: 14px;
    padding-right: 12px;
  } 

  .journey-button {
    padding: 10px;
    font-size: 12px;
  }

} 

@media only screen and (max-width: 300px) {

  .starting-image-text {
    position: absolute;
    top: 15px;
    left: 14px;
    width: 100%; 
  } 

  .starting-image {
    
    max-width: 100%;
    height: auto;
  } 

  .starting-image-text-1 {
    font-size: 16px;
  }
  
  .starting-image-text-2 {
    font-size: 12px;
    padding-right: 12px;
  } 

  .journey-button {
    padding: 10px;
    font-size: 8px;
  }

} */
