.last-container {
  background-color: rgb(126, 126, 126);
  height: 400px;
  display: flex;
  flex-direction: column;
}

.back-to-top-text {
  background-color: black;
  color: white;
  padding: 30px 20px 30px 20px;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 25px;
}

.back-to-top-text:hover {
  background-color: white;
  color: black;
}