.pricing-container {
  /*height: 2150px;*/
  height: auto;
  background-color: rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.pricing-title {
  margin-top: 90px;
  font-family: Raleway, Arial;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

.pricing-text {
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.pricing-plans-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;*/
  /*height: 400px;*/
  height: auto;
  max-width: 100%;
  margin-bottom: 50px;
  
}

.gcse-container, .alevel-container, .competition-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  top: 0;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

.gcse-title, .alevel-title, .competition-title {
  background-color: rgb(255, 78, 78);
  color: white;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 30px 20px 30px 20px;
  height: 40px;
} 

.gcse-pure-maths-text, .alevel-pure-maths-text, .alevel-mechanics-text, .competition-maths-text, .competition-types {
  background-color: rgb(140, 140, 140);
  color: black;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 30px 20px 30px 20px;
}

.alevel-mechanics-text, .competition-types {
  border-top: 1px solid black;
}

.gcse-pricing, .alevel-pricing, .competition-pricing {
  background-color: rgb(170, 170, 170);
  color: black;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 30px 20px 30px 20px;
}

.teaching-way-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.teaching-way-title {
 /* margin-top: 800px;*/
  font-family: Raleway, Arial;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  
}

.teaching-way-text {
  font-family: Raleway, Arial;
  font-size: 25px;
  font-weight: 300;
  background-color: rgb(196, 194, 194);
  text-align: center;
  line-height: 40px;
  height: auto;
  width: 90%; /* 800px */
  /*margin-left: 350px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
} 






/* Responsive styles for screens below 991px */
@media only screen and (max-width: 991px) {
  .gcse-container, .alevel-container, .competition-container {
    max-width: 100%;
  }

  .gcse-title, .alevel-title, .competition-title {
    font-size: 24px;
  }

  .gcse-pure-maths-text, .alevel-pure-maths-text, .alevel-mechanics-text, .competition-maths-text, .competition-types {
    font-size: 18px;
  }

  .gcse-pricing, .alevel-pricing, .competition-pricing {
    font-size: 18px;
  }

  .teaching-way-title {
    font-size: 30px;
  }

  .teaching-way-text {
    font-size: 20px;
  }
}

/* Responsive styles for screens below 768px */
@media only screen and (max-width: 768px) {
  .pricing-title {
    font-size: 30px;
    margin-top: 30px;
  }

  .pricing-text {
    font-size: 20px;
  }

  .gcse-title, .alevel-title, .competition-title {
    font-size: 22px;
  }

  .gcse-pure-maths-text, .alevel-pure-maths-text, .alevel-mechanics-text, .competition-maths-text, .competition-types {
    font-size: 16px;
  }

  .gcse-pricing, .alevel-pricing, .competition-pricing {
    font-size: 16px;
  }

  .teaching-way-title {
    font-size: 26px;
  }

  .teaching-way-text {
    font-size: 18px;
    max-width: 100%;
  } 

  .gcse-container, .alevel-container, .competition-container{
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Responsive styles for screens below 600px */
@media only screen and (max-width: 600px) {
  .pricing-title {
    font-size: 24px;
  }

  .pricing-text {
    font-size: 18px;
  }

  .teaching-way-title {
    font-size: 22px;
  }

  .teaching-way-text {
    font-size: 16px;
    line-height: 32px;
  }
}
