.experience-work-container {
  height: 3100px;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
}

.experience-title {
  margin-top: 90px;
  font-family: Raleway, Arial;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

.explore-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.explore-learning-image {
  max-width: 100%; /* width 1200 and height 550 */
  height: 700px;
  /* height: calc(-100px - 100px); */
  /*object-position: center top;*/
  object-fit: cover;
}

.explore-learning-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: rgba (240, 240, 240, 0.7);
  padding: 20px;
  text-align: center;
  box-sizing:  border-box;
}
.explore-learning-text {
  text-align: center;
   
  width: 100%;
  font-family: Raleway, Arial;
  font-weight: 500;
  font-size: 25px;
  padding: 20px;
  color: rgb(60, 59, 59);
  background-color: rgba(240, 240, 240, 0.7);
  
}

/* WORK SECTION */

.work-container {
  display: flex;
  flex-direction: column;
  position: relative;

} 

.work-title {
  margin-top: 70px;
  margin-bottom: 120px;
  font-family: Raleway, Arial;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

.description-work-container-1, .description-work-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.description-work-container-1 {
  margin-bottom: 140px;
}

.description-work-text-container-1, .description-work-text-container-2 {
  position: absolute;
  width: 50%;
  /*max-width: 100%; */
}

.description-work-text-container-1{
  margin-top: 20px;
}
.description-work-text-container-2 {
  margin-left: 60px;
}

.description-work-text-1 {
  /*margin-top: -45px;*/
  margin-left: 50px;
  flex: 2;
  text-align: center;
  /*height: 310px;
  width: 1100px;*/
  width: 100%;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 25px;
  padding: 20px;
  color: rgb(60, 59, 59);
  background-color: rgba(202, 238, 254, 0.8);
  border-radius: 20px;
  /*max-width: 100%;*/
}

.description-work-image-1 {
  margin-top: 30px;
  margin-left: 650px;
  top: 0;
  height: 70%; 
  max-width: 50%;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(180, 180, 180, 0.7);
}

.description-work-image-2 {
  margin-top: 30px;
  margin-left: 40px;
  height: 110%;
  max-width: 110%;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(180, 180, 180, 0.7);
}

.description-work-text-2 {
  margin-left: 500px;
  margin-top: 50px;
  text-align: center;
  /*height: 300px; width was 950*/
  width: 100%;
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 23px;
  padding: 20px;
  color: rgb(60, 59, 59);
  background-color: rgba(218, 203, 254, 0.7);
  border-radius: 20px;
 /* max-width: 100%; */
}

/* ACHIEVEMENTS SECTION */

.achievements-title {
  margin-top: 70px;
  font-family: Raleway, Arial;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

.achievements-text {
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 25px;
  text-align: center;

}

.achievements-pics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.senior-2021-image {
  flex: 1;
  object-fit: contain;
  height: 340px;
  padding-left: 10px;
  padding-right: 10px

}

.BMO1-image {
  flex: 1;
  object-fit: contain;
  height: 340px;

}

.senior-2022-image {
  flex: 1;
  object-fit: contain;
  height: 340px;
  padding-left: 10px;
  padding-right: 10px;

}

.achievement-text-1 {
  font-family: Raleway, Arial;
  font-weight: 300;
  font-size: 25px;
  text-align: center;

} 



/* Responsive styles for screens between 992px and 1200px */
@media only screen and (max-width: 1200px) {

  .explore-learning-image {
    width: 100%;
    height: 500px;
  }

  .experience-title {
    font-size: 40px;
  }
  
  .explore-learning-text {
    font-size: 20px;
  }

  .work-title {
    font-size: 40px;
    margin-bottom: 0px;
  } 

  .description-work-container-1 {
   margin: 40px;
  }

  .description-work-container-2 {
   margin: 40px;
  }

  .description-work-text-1, .description-work-text-2 {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    margin-right: 10px;
    
  }
  
  .description-work-text-container-1, .description-work-text-container-2 {
    position: relative;
    margin: 0 auto;
    width: 85%;
  } 

  .description-work-image-1, .description-work-image-2 {
    display: none;
  } 

   
} 


/* Responsive styles for screens between 768px and 991px */
@media only screen and (max-width: 991px) {
  .experience-title {
    font-size: 30px;
  }
  
  .explore-learning-text {
    font-size: 18px;
  }

  .work-title {
    font-size: 30px;
  } 

  .description-work-text-1, .description-work-text-2 {
    font-size: 22px;
  }
}

/* Responsive styles for screens below 768px (small screens) */
@media only screen and (max-width: 768px) {
  .experience-title {
    font-size: 25px;
  }
  
  .explore-learning-text {
    font-size: 16px;
  }

  .work-title {
    font-size: 25px;
  } 

  .description-work-text-1, .description-work-text-2 {
    font-size: 20px;
  }
} 


/* responsive styles for screens below 600px */
@media only screen and (max-width: 600px) {
  .experience-title {
    font-size: 20px;
    margin-top: 60px;
  }
  
  .explore-learning-text {
    font-size: 14px;
    padding: 10px;
  }

  .work-title {
    font-size: 20px;
    margin-top: 60px;
  } 

  .description-work-text-1, .description-work-text-2 {
    font-size: 17px;
  }
}

